<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form th:action="@{/events/create}" method="post">
    <input type="text" name="eventName" placeholder="Event Name" required />
    <input type="text" name="description" placeholder="Event Description" required />
    <input type="text" name="imageUrl" placeholder="Image URL" required />
    <button type="submit">Create Event</button>
</form>

</body>
</html>